<div fxLayout="column" [class.dark-theme]="isDarkTheme">

  <mat-toolbar color="primary" fxFlex="60px">
    <span><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></span>
    <span>Timepuncher - {{mediaInfo}}</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="{{media.isActive('gt-xs') ? 'side' : 'over'}}" align="begin">
      <!-- sidenav content -->
      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">info</mat-icon>
          <a mat-line routerLink="/main/overview">Overview</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">info</mat-icon>
          <a mat-line routerLink="/main/timeadmin">TimeAdmin</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">info</mat-icon>
          <a mat-line routerLink="/main/sysadmin">SysAdmin</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">folder</mat-icon>
          <a mat-line routerLink="/main/profile">Profile</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">folder</mat-icon>
          <a mat-line routerLink="/main/logout">Logout</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="my-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    <button mat-menu-item (click)="sidenav.toggle()">Toggle Sidenav</button>
  </mat-menu>

</div>