.bigbutton {
    width: 180px;
}

.punchpane {
    background-color: lightblue;
}
.fab-bottom-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
  
.scroll-content{
    height: 50vh; 
    overflow-y: auto;
}