<div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <span fxFlex="10%"></span>
    <p fxFlex="40%" style="display: inline">
      <button mat-raised-button large full color="accent" (click)="enter()" class="bigbutton">Kommen</button>
    </p>
    <p fxFlex="40%" style="display: inline">
      <button mat-raised-button large full (click)="leave()" class="bigbutton">Gehen</button>
    </p>
  </div>
  <div fxLayout="column">
    <div fxFlex="100%">
      <mat-tab-group (selectChange)="tabChanged($event)">
        <mat-tab label="Heute" id="tab1">
          <mat-grid-list cols="4" rowHeight="3em">
            <mat-grid-tile col-3>{{punchDayVm?.date.getDay() | htDayName}} {{punchDayVm?.date | date:"dd.MM.yyyy"}}</mat-grid-tile>
            <mat-grid-tile col-3>Tagestotal: {{punchDayVm?.daySum | number: "1.2-2"}} h</mat-grid-tile>
          </mat-grid-list>
          <mat-card>
            <mat-card-content class="scroll-content">
              <mat-grid-list cols="6" rowHeight="2em" *ngFor="let row of punchDayVm?.punchRow">
                <mat-grid-tile col-3 (click)="editPunch(row?.enter)">{{row?.enter?.timedec | number: "1.2-2"}}</mat-grid-tile>
                <mat-grid-tile col-3 (click)="editPunch(row?.leave)">{{row?.leave?.timedec | number: "1.2-2"}}</mat-grid-tile>
                <mat-grid-tile col-3>{{row?.sum | number: "1.2-2"}}</mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Woche">
          <mat-grid-list cols="3" rowHeight="3em">
            <mat-grid-tile colspan="1">
              <input mdInput type="week" placeholder="Woche" [(ngModel)]="week" (change)="weekChanged()">
            </mat-grid-tile>
            <mat-grid-tile>Kalenderwoche {{punchWeekVm?.week}}/{{punchWeekVm?.year}}</mat-grid-tile>
            <mat-grid-tile>Wochentotal {{punchWeekVm?.weekSum | number: "1.2-2"}}</mat-grid-tile>
          </mat-grid-list>
          <mat-card>
            <mat-card-content class="scroll-content">
              <mat-grid-list cols="4" rowHeight="2em" *ngFor="let day of punchWeekVm?.punchDays">
                <mat-grid-tile colspan="2"><span style="position: absolute; left: 5px">{{day?.date.getDay() | htDayName}} {{day?.date | date:"dd.MM.yyyy"}}</span></mat-grid-tile>
                <mat-grid-tile>{{day?.daySum | number: "1.2-2"}} h</mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Monat">
          <mat-grid-list cols="3" rowHeight="3em">
            <mat-grid-tile colspan="1">
              <mat-form-field>
                <mat-select placeholder="Monat" [(ngModel)]="month" (change)="monthChanged()">
                  <mat-option *ngFor="let month of months" [value]="month.monthNum">
                    {{ month.monthName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
              <mat-form-field>
                <mat-select placeholder="Jahr" [(ngModel)]="year" (change)="monthChanged()">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>Total {{punchMonthVm?.monthSum | number: "1.2-2"}} h</mat-grid-tile>
          </mat-grid-list>
          <mat-card>
            <mat-card-content class="scroll-content">
              <mat-grid-list cols="6" rowHeight="2em" *ngFor="let row of punchMonthVm?.punchDays">
                <mat-grid-tile col-3>{{row?.date | date:"dd.MM.yyyy"}}</mat-grid-tile>
                <mat-grid-tile col-3>{{row?.daySum | number: "1.2-2"}}</mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Jahr">
          <mat-grid-list cols="3" rowHeight="3em">
            <mat-grid-tile colspan="1">
              <mat-form-field>
                <mat-select placeholder="Jahr" [(ngModel)]="year" (change)="yearChanged()">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">Total {{punchYearVm?.yearSum | number: "1.2-2"}} h</mat-grid-tile>
          </mat-grid-list>
          <mat-card>
            <mat-card-content class="scroll-content">
              <mat-grid-list cols="6" rowHeight="2em" *ngFor="let row of punchYearVm?.punchMonths">
                <mat-grid-tile col-3>{{row.month | htMonthName }}</mat-grid-tile>
                <mat-grid-tile col-3>{{row.monthSum | number: "1.2-2"}}</mat-grid-tile>
              </mat-grid-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <button mat-fab (click)="addPunch()" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>
</div>